.container {
    width: 10000px;
    font-family: monospace;
}
.box {
    padding: 2px;
    border: 3px dashed hsl(120, 100%, 50%);;
    display: inline-block;
    background-color: white;
}
.change {
    border-style: solid;
}
.blame {
    border-color: hsl(0, 100%, 50%);
}
.box:hover {
    background-color: lightblue;
}
